<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FrontEnd</display-name>



<servlet>
	<servlet-name>userLogin</servlet-name>
	<servlet-class>com.revature.web.LoginController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>userLogin</servlet-name>
	<url-pattern>loginServlet</url-pattern>
	
	
</servlet-mapping>


<servlet>
	<servlet-name>filterServlet</servlet-name>
	<servlet-class>com.revature.web.FilterController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>filterServlet</servlet-name>
	<url-pattern>filterServlet</url-pattern>
	
	
</servlet-mapping>





<servlet>
	<servlet-name>updateStatus</servlet-name>
	<servlet-class>com.revature.web.StatusController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>updateStatus</servlet-name>
	<url-pattern>updateStatusServlet</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>insertReim</servlet-name>
	<servlet-class>com.revature.web.insertController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>insertReim</servlet-name>
	<url-pattern>insertReim</url-pattern>
</servlet-mapping>






</web-app>